* {
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    padding: 24px;
    background: #D9D9D9;
}

.eventos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.evento {
    display: flex;
    flex-direction: column;
}

.evento__imagem {
    width: 100%;
    max-width: 387px;
    max-height: 256px;
    height: auto;
}

.evento__descricao--encerrado {
            color:  grey;
}

